<div class="mt-5 w-75 mx-auto">
  <div class="w-50 mx-auto">
    <form [formGroup]="loginForm" (submit)="crear(loginForm.value)">
      <h2 class="text-center">Crear Registro</h2>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Empleado </label>
        <select formControlName="empleado_id" class="form-select" name="" id="">
          <option
            [value]="trabajador.id"
            *ngFor="let trabajador of trabajadores"
          >
            {{ trabajador.nombre |titlecase}} - {{trabajador.apellido|titlecase}}
          </option>
        </select>
        <div
          *ngIf="
            loginForm.get('empleado_id')?.invalid &&
            loginForm.get('empleado_id')?.touched
          "
        >
          <span
            *ngIf="loginForm.get('empleado_id')?.hasError('required')"
            style="color: #f39c12"
          >
            campo Requerido.</span
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Hora entrada </label>
        <input
          type="datetime-local"
          class="form-control"
          formControlName="hora_entrada"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div
          *ngIf="
            loginForm.get('hora_entrada')?.invalid &&
            loginForm.get('hora_entrada')?.touched
          "
        >
          <span
            *ngIf="loginForm.get('hora_entrada')?.hasError('required')"
            style="color: #f39c12"
          >
            campo Requerido.</span
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Hora salida </label>
        <input
          type="datetime-local"
          class="form-control"
          formControlName="hora_salida"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div
          *ngIf="
            loginForm.get('hora_salida')?.invalid &&
            loginForm.get('hora_salida')?.touched
          "
        >
          <span
            *ngIf="loginForm.get('hora_salida')?.hasError('required')"
            style="color: #f39c12"
          >
            campo Requerido.</span
          >
        </div>
      </div>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        crear registro
      </button>
    </form>
  </div>
</div>
