body {
 
    background-image: url('https://media.istockphoto.com/id/1312418673/es/foto/seguridad-cibern%C3%A9tica-inicio-de-sesi%C3%B3n-computadora-digital-internet-contrase%C3%B1a-privacidad.jpg?b=1&s=612x612&w=0&k=20&c=hRNTU-Ne6aBAAW9AaSepboUBvNEDID8ZlwXfEGDSbjE=');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}