
<div class="img">
 
  <div class="row">
    <div class="col-md-3 mx-auto">
  <div class="card shadow" style="margin-top: 10em; width: 350px;">
    <div class="card-body  " style="background-color: rgba(254, 246, 242, 0.509); font-family: 'Times New Roman', Times, serif;">
      <div class="row mt-5 d-flex justify-content-between align-items-center ">
         <h5 class="text-center" style="font-family: 'Times New Roman', Times, serif;">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg><br>
        <i class="bi bi-car-front"></i> Login
         </h5>
          <form [formGroup]="loginForm" class="w-75 mx-auto mt-4">
            <div class="form-floating mb-3" >
              <input
                type="email"
                class="form-control"
                id="email"
                [ngClass]="[loginForm.get('email')?.errors?.['required'] ||
                loginForm.get('email')?.errors?.['email']
                ? 'is-invalid' : 'is-valid' ]"
                placeholder="Email"
                formControlName="email"
              />

              <label for="email" class="form-label"
                ><i class="bi bi-person-circle"></i> Email</label
              >
              <div
                *ngIf="!loginForm.get('email')?.errors?.['required']&&!loginForm.get('email')?.errors?.['email']"
                class="valid-feedback"
              ><strong>
                Looks good!</strong>
              </div>
              <div 
                *ngIf="loginForm.get('email')?.errors?.['required']"
                class="form-text "
              >
              <strong> Campo Requerido</strong>
               
              </div>
              <div
                *ngIf="loginForm.get('email')?.errors?.['email']"
                class="form-text "
              >
              <strong>Campo Requerido</strong>
              
              </div>
            </div>
            <div class="form-floating mb-3" >
              <input
                type="password"
                id="password"
                [ngClass]="[loginForm.get('password')?.errors?.['required'] ||
                loginForm.get('password')?.errors?.['minlength']
                ? 'is-invalid' : 'is-valid' ]"
                class="form-control"
                placeholder="Password"
                formControlName="password"
              />

              <label for="password" class="form-label"
                ><i class="bi bi-eye"></i> Password</label
              >
              <div
                *ngIf="!loginForm.get('password')?.errors?.['required']&&!loginForm.get('password')?.errors?.['minlength']"
                class="valid-feedback"
              >
              <strong>
                Looks good!</strong>
              </div>
              <div
                *ngIf="loginForm.get('password')?.errors?.['required']"
                class="form-text"
              >
              <strong> Contraseña requerida</strong>
               
              </div>
              <div
                *ngIf="loginForm.get('password')?.errors?.['minlength']"
                class="form-text text-danger"
              >
                Minimo 5 caracteres
              </div>
            </div>

            <div class="d-flex justify-content-center" style="font-family: 'Times New Roman', Times, serif;"> <!-- Agregamos esta div para centrar el botón -->
              <button
                style="font-family: 'Times New Roman', Times, serif;"
                type="button"
                (click)="login()"
                [disabled]="!loginForm.valid"
                class="btn btn-outline-info btn-lg"
              >
              <strong>
                  Iniciar Sesion
              </strong>
              
              </button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
